.App {
  height: 100%;
  background-image: url("https://www.featurepics.com/StockImage/20120305/vintage-wine-background-stock-illustration-2163171.jpg")
}

.wineCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: 40px;

}

.title {
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  background-color: rgb(248, 240, 217);
  color:rgb(187, 107, 2);
  margin: auto;
  height: 40px;

}

.wineImg {

  width: 80px;
  height: 100px;
  
}