.app {
  display: inline;
  height: 100%
}

.red {
  display: grid | inline-grid;
  background-image:url"https://img4.goodfon.com/wallpaper/nbig/9/c1/bochka-bokaly-butylka-vino-krasnoe-vinograd-probki-listia-fo.jpg";;
  margin: 10px;

}

.title {
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  background-color: rgb(248, 240, 217);
  color:rgb(165, 95, 3);
  margin: auto;
  height: 40px;

}

.wineImg {

  width: 50px;
  height: 70px;
  
}