.app {
  display: flex;
  height: 20%
}

.title {
  text-align: center;
  background-color: rgb(231, 223, 202);
  color:rgb(165, 95, 3);
  margin: auto;
}

.wineImg {

  width: 25%;
  height: 30%;
  
}