.app {
  background: ;
  display: flex;
  height: 20%
}

.red {
  display: grid | inline-grid;

  background-color: rgb(129, 209, 233);
  margin: 10px;

}

.title {
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  background-color: rgb(248, 240, 217);
  color:rgb(165, 95, 3);
  margin: auto;
  height: 40px;

}

.wineImg {

  width: 50px;
  height: 70px;
  
}